.bg-custom {
  background-image: url('/public/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
    flex-wrap: wrap;
} 

.brand-name {
  min-width: 120px; /* Adatta la larghezza secondo necessità */
  white-space: nowrap; /* Evita che il testo vada a capo */
}


  .height-custom {
    min-height: 200px;
  }
  .height-custom-layout{
    min-height: 500px;
  }
  .rounded-pill-bg {
    background-color: aqua;
    color: black;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
}

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

  .navbar-nav .nav-item .badge {
    position: relative; /* Impostiamo la posizione relativa per il badge */
    top: -5px; /* Piccola correzione per l'allineamento verticale */
    margin-left: 8px; /* Distanza tra la scritta e il badge */
}

@media (max-width: 768px) {
    .navbar-nav .nav-item .badge {
        top: 0; /* Rimuovi la correzione verticale sui dispositivi mobili */
        margin-left: 5px; /* Mantieni una piccola distanza tra il testo e il badge */
    }
}